<div>
  <svg>
    <line *ngFor="let line of solutionOnBoard" stroke="red"
    [attr.x1]="line.x1" [attr.y1]="line.y1" 
    [attr.x2]="line.x2" [attr.y2]="line.y2"/>
  </svg>
  <table class="board">
    <tr *ngFor="let row of fields.slice().reverse() let y = index">
      <td>{{row}}</td>
      <td *ngFor="let city of fields let x = index"> <input type="checkbox" [(ngModel)]=cities[y][x].value></td>
    </tr>
    <tr>
      <td><button type="button" (click)="letsGo()">GO!</button></td>
      <td *ngFor="let column of fields">{{column}}</td>
    </tr>
  </table>
</div>
<div>Initial Distance: {{initialDistance}}</div><br>
<div>Evolution Number: {{evolutionNumber}}</div><br>
<div>Actual Distance: {{finalDistance}}</div><br>
<div>Solution: {{solution}}</div><br>